@use '../../partials/mixins.scss' as *;

.recipes{
    @include desktop{
        padding:0 4rem;
    }

}

.recipes__nav{

}

.recipes__nav-ul{
    @include desktop{
        display: flex;
        // border:1px solid pink;
        justify-content: space-between;
    
    }
   
}

.recipes__li-div{
    @include desktop{
        // flex-basis: 13%;
        // border:1px solid purple;
        text-align: center;
        // padding:4.5rem 7.5rem;
        padding:4.5rem 6.5rem;
        border-radius: 2rem;
        background-color: #FFF9F3;
        font-family:Poppins ;
        font-weight: 600;
        font-size:1.5rem;
        line-height: 2.4rem;
        color:#154681
    }
   
}

.recipes__li{

}





.recipes__section{
    @include desktop{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        margin:5rem 0;
    }
}

.recipes__single-box{
    @include desktop{
        // flex-basis:30%;
        // height:35vw;
        flex-basis:27%;
        height:30vw;
        // border:1px solid blue;
        margin-bottom:6rem;
    }

}
.recipes__img{
    @include desktop{
        width: 100%;
        height: 83%;
        object-fit: cover;
        object-position: 0% 92%;
        border-radius: 2rem;
       
    }
}

.recipes__title{
    @include desktop{
        font-style: Regular;
        font-size: 16px;
        line-height: 18px;
        color:#4B4B59;
        text-align: center;
        margin:1rem 0;
    }   
}

.recipes__likes-box{
    @include desktop{
     display: flex;
     font-weight:600;
     font-size:1.3rem;
     line-height: 1.8rem;
     color:#262626;
    }
}

.recipes__likes-icon{

}

.recipes__likes{

}

.recipes__comment-box{
    @include desktop{
        display: flex;
        font-weight:600;
        font-size:1.3rem;
        line-height: 1.8rem;
        color:#262626;
      
    }
}

.recipes__comment-icon{

}

.recipes__comments{

}

.recipes__popularity-box{
    @include desktop{
        display: flex;
        // border:1px solid pink;
        justify-content: space-between;
        padding:0 1.5rem;
    }
}

.MuiSvgIcon-root{
    @include desktop{
        margin-right:1rem;
    }
  
}