@use '../../partials/mixins.scss' as *;

.form__baby-btn{
    font-size: 1.6rem;
    line-height: 1.8rem;
    font-weight: 600;
    color:#154681;
    padding:1rem 2rem;
    border-radius: 2rem;
}

.info__yellow{
    color:orange;
    font-size: 3.2rem;
    line-height: 4rem;

}